@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?aqrgel');
  src:  url('../fonts/icomoon.eot?aqrgel#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?aqrgel') format('truetype'),
    url('../fonts/icomoon.woff?aqrgel') format('woff'),
    url('../fonts/icomoon.svg?aqrgel#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-deal-hot:before {
  content: "\e909";
}
.icon-icon-line:before {
  content: "\e908";
}
.icon-up-arrow:before {
  content: "\e959";
}
.icon-down-arrow:before {
  content: "\e93c";
}
.icon-left-arrow:before {
  content: "\e943";
}
.icon-right-arrow:before {
  content: "\e94f";
}
.icon-fanhuidingbu:before {
  content: "\e635";
}
.icon-youjiantou:before {
  content: "\e631";
}
.icon-up:before {
  content: "\e958";
}
.icon-Down:before {
  content: "\e93b";
}
.icon-xingdongdian:before {
  content: "\e640";
}
.icon-guanbi:before {
  content: "\e600";
}
.icon-plus-positive-add:before {
  content: "\e95b";
}
.icon-loading:before {
  content: "\e637";
}
.icon-shuaxin2:before {
  content: "\e634";
}
.icon-shuaxin1:before {
  content: "\e633";
}
.icon-shuaxin:before {
  content: "\e632";
}
.icon-magnifying-glass2:before {
  content: "\e91b";
}
.icon-magnifying-glass:before {
  content: "\e947";
}
.icon-menu-button:before {
  content: "\e949";
}
.icon-menu2:before {
  content: "\e900";
}
.icon-shopping-cart3:before {
  content: "\e901";
}
.icon-shopping-cart-set:before {
  content: "\e902";
}
.icon-checked:before {
  content: "\e934";
}
.icon-hours:before {
  content: "\e92f";
}
.icon-alarm:before {
  content: "\e930";
}
.icon-ring:before {
  content: "\e950";
}
.icon-back:before {
  content: "\e931";
}
.icon-certificate:before {
  content: "\e933";
}
.icon-clipboards:before {
  content: "\e935";
}
.icon-credit-card-2:before {
  content: "\e936";
}
.icon-credit-card:before {
  content: "\e937";
}
.icon-delivery:before {
  content: "\e938";
}
.icon-delivery-truck:before {
  content: "\e939";
}
.icon-discount:before {
  content: "\e93a";
}
.icon-history:before {
  content: "\e941";
}
.icon-fire-2:before {
  content: "\e93d";
}
.icon-sport:before {
  content: "\f03f";
}
.icon-fire:before {
  content: "\e93e";
}
.icon-football:before {
  content: "\e93f";
}
.icon-basketball-game:before {
  content: "\e932";
}
.icon-icon-visa:before {
  content: "\e942";
}
.icon-light-bulb:before {
  content: "\e944";
}
.icon-like:before {
  content: "\e945";
}
.icon-locked:before {
  content: "\e946";
}
.icon-menu:before {
  content: "\e948";
}
.icon-monitor:before {
  content: "\e94a";
}
.icon-phone-call:before {
  content: "\e94c";
}
.icon-placeholder:before {
  content: "\e94d";
}
.icon-sale:before {
  content: "\e951";
}
.icon-share:before {
  content: "\e952";
}
.icon-shopping-online:before {
  content: "\e954";
}
.icon-undo:before {
  content: "\e957";
}
.icon-user:before {
  content: "\e95a";
}
.icon-zhubaoshipin:before {
  content: "\e606";
}
.icon-jiajujiancai:before {
  content: "\e607";
}
.icon-jiayongdianqi:before {
  content: "\e608";
}
.icon-shipin:before {
  content: "\e609";
}
.icon-muyingwanju:before {
  content: "\e60a";
}
.icon-shumashouji:before {
  content: "\e60b";
}
.icon-xiebao:before {
  content: "\e60c";
}
.icon-nvzhuangneiyi:before {
  content: "\e60d";
}
.icon-huwaiyundong:before {
  content: "\e60e";
}
.icon-huazhuangpin:before {
  content: "\e60f";
}
.icon-qichepeijian:before {
  content: "\e610";
}
.icon-jiafangjiashi:before {
  content: "\e611";
}
.icon-jujia:before {
  content: "\e612";
}
.icon-yiyaobaojian:before {
  content: "\e613";
}
.icon-nanzhuang:before {
  content: "\e615";
}
.icon-xie:before {
  content: "\e617";
}
.icon-miaoxiansheng:before {
  content: "\e63f";
}
.icon-shuiguo:before {
  content: "\e63d";
}
.icon-tianmaofenqi:before {
  content: "\e625";
}
.icon-jisutuikuan:before {
  content: "\e626";
}
.icon-tuihuobaozhang:before {
  content: "\e627";
}
.icon-tianmaoguoji:before {
  content: "\e61d";
}
.icon-dianpu:before {
  content: "\e63e";
}
.icon-huiyuanqia:before {
  content: "\e628";
}
.icon-jifen:before {
  content: "\e629";
}
.icon-wode:before {
  content: "\e62a";
}
.icon-weiguanzhu:before {
  content: "\e604";
}
.icon-hongxin:before {
  content: "\e639";
}
.icon-pinpai:before {
  content: "\e602";
}
.icon-heart:before {
  content: "\e940";
}
.icon-hongbao:before {
  content: "\e62b";
}
.icon-wanbiao:before {
  content: "\e61b";
}
.icon-nvxie:before {
  content: "\e61a";
}
.icon-neiyi:before {
  content: "\e61c";
}
.icon-feiji:before {
  content: "\e638";
}
.icon-lanzi:before {
  content: "\e63a";
}
.icon-shouji:before {
  content: "\e63b";
}
.icon-calendar:before {
  content: "\e649";
}
.icon-sofa:before {
  content: "\f040";
}
.icon-refrigerator:before {
  content: "\ea01";
}
.icon-pc-monitor:before {
  content: "\ea02";
}
.icon-yifu:before {
  content: "\e63c";
}
.icon-customer-service:before {
  content: "\e906";
}
.icon-list:before {
  content: "\e907";
}
.icon-credit-card2:before {
  content: "\e905";
}
.icon-cloud-computing:before {
  content: "\e904";
}
.icon-big-lifesaver:before {
  content: "\e903";
}
